



<div>
    <a href="@Url.Action("Index","FoodCategories")" class="btn btn-default" style="width:100%">Menu Setting</a>
    <a href="@Url.Action("Index","Offers")" class="btn btn-success" style="width:100%">Offer Setting</a>
</div>
