@{
    ViewBag.Title = "Home Page";
}


<div>
    <a href="@Url.Action("login","Account")" class="btn btn-primary" style="width:100%">login</a>
    <a href="@Url.Action("Menu")" class="btn btn-info" style="width:100%">Menu</a>
</div>