
@{
    ViewBag.Title = "Cashier Panel";
}

<div>
    <a href="@Url.Action("All")" class="btn btn-primary" style="width:100%">All Receipts</a>
    <a href="@Url.Action("Foods")" class="btn btn-primary" style="width:100%">Foods Reports</a>
    <a href="@Url.Action("Categories")" class="btn btn-primary" style="width:100%">Categories Report</a>

</div>


